@using Eleave.Models;
@{
    ViewBag.Title = "จัดการผู้ใช้งาน";
}
<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 120px;
        height: 34px;
    }

        .switch input {
            display: none;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #e74c3c;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 34px;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
        }

    input:checked + .slider {
        background-color: #2ecc71;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(85px);
    }

    /*------ ADDED CSS ---------*/
    .slider:after {
        content: 'Inactive';
        color: white;
        display: block;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        font-size: 10px;
        font-family: Verdana, sans-serif;
    }

    input:checked + .slider:after {
        content: 'Active';
    }
</style>
@*bread*@
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">จัดการผู้ใช้งาน</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("ManagerEmployee", "Employee")" ">จัดการผู้ใช้งาน</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
@*Modal*@
@*viewEmployee*@
<div class="modal" id="modalEmployeeDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document" style="max-width:900px;">
        <div class="modal-content">
            <div class="modal-header pb-2">
                <div class="col-sm-10 col-md-10">
                    <h4 class="modal-title" id="myModalLabel">ข้อมูลผู้ใช้งาน</h4>
                </div>
                <div class="col-sm-2 col-md-2 text-right"><button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">ปิด</button></div>
            </div>
            <div class="modal-body p-2">
                <div id="detailEmployee"></div>
            </div>
        </div>
    </div>
</div>

@*table*@
<div class="row">
    <div class="col-xl-12">
        <div class="card card-danger">
            @*<div class="card-header text-white bg-primary">
                    <h5>จัดการผู้ใช้งาน</h5>
                </div>*@
            <div class="card-body m-0 p-0">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th class="text-center">รหัสพนักงาน</th>
                                <th class="text-center">ชื่อ-สกุล</th>
                                <th class="text-center">หน่วยงาน</th>
                                <th class="text-center">ตำแหน่ง</th>
                                <th class="text-center">ดำเนินการ</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int rowData = 0;
                                foreach (var dataItem in (List<StoreGetProfile>)ViewBag.EmployeeList)
                                {
                                    ++rowData;
                                    <tr>
                                        <td>@rowData</td>
                                        <td>@dataItem.EmpId</td>
                                        <td>@dataItem.Fullname</td>
                                        <td>@dataItem.DeptId</td>
                                        <td>@dataItem.Position</td>
                                        @if (dataItem.EmpStatus == "1")
                                        {
                                            <td>
                                                <div class="text-center">
                                                    <label class="switch">
                                                        <input type="checkbox" checked disabled>
                                                        <span class="slider font-weight-bold"></span>
                                                    </label>
                                                </div>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <div class="text-center">
                                                    <label class="switch">
                                                        <input type="checkbox" disabled>
                                                        <span class="slider font-weight-bold"></span>
                                                    </label>
                                                </div>
                                            </td>
                                        }
                                        <td class="text-center p-1">
                                            <div class="btn btn-info btn-xs" id="viewEmployeeDetail-@dataItem.EmpId" title="แสดง" data-emp="@dataItem.EmpId"><span class="fa fa-eye"></span></div>
                                            <a class="btn btn-warning btn-xs" href="@Url.Action("UpdateEmployee", "Employee", new { EmpId = dataItem.EmpId })" ,"Employee")" title="แก้ไข"><span class="fa fa-edit"></span></a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/scriptEmployee.js")"></script>
<script defer>
    var getDetailEmployeeURL = '@Url.Action("DetailEmployee", "Employee")';
    $(document).ready(function () {
        $('[id^="viewEmployeeDetail-"]').on('click', function (e) {
            e.preventDefault();
            var empID = $(this).data('emp');
            getDetailEmployee(empID);

        });
    });
</script>