@using Eleave.Models;
@{
    ViewBag.Title = "Profile";
    var dataEmp = (StoreGetProfile)ViewBag.ProfileList;
}
<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 120px;
        height: 34px;
    }

        .switch input {
            display: none;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #e74c3c;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 34px;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
        }

    input:checked + .slider {
        background-color: #2ecc71;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(85px);
    }

    /*------ ADDED CSS ---------*/
    .slider:after {
        content: 'Inactive';
        color: white;
        display: block;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        font-size: 10px;
        font-family: Verdana, sans-serif;
    }

    input:checked + .slider:after {
        content: 'Active';
    }
</style>
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    @*<h5 class="m-b-10">โปรไฟล์</h5>*@
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="#!">โปรไฟล์</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-7 col-md-8">
        <!-- ข้อมูลผู้ใช้งาน -->
        <div class="card-container profile-container">
            <div class="d-flex align-items-center justify-content-between">
                <h5 class="m-0">ข้อมูลผู้ใช้งาน</h5>
                @*<button class="btn btn-warning" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">ตั้งรหัสผ่านใหม่</button>*@
            </div>
            <div class="card card-primary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <h5>รหัสพนักงาน</h5>
                                <div> @dataEmp.EmpId </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <h5>ชื่อ-สกุล</h5>
                                <div> @dataEmp.Fullname  </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <h5>บริษัท</h5>
                                <div> @dataEmp.Company </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <h5>หน่วยงาน</h5>
                                <div> @dataEmp.DeptId </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <h5>ตำแหน่ง</h5>
                                <div> @dataEmp.Position </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <h5>หัวหน้างาน</h5>
                                <div> @dataEmp.DirectorId </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <h5>
                                    ระดับพนักงาน
                                </h5>
                                <div> @dataEmp.EmpLvl </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <h5>
                                    ประเภทพนักงาน
                                </h5>
                                <div> @dataEmp.EmpTypeId </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <h5>
                                    รหัสกลุ่มอนุมัติ
                                </h5>
                                <div> @dataEmp.ApprGrpID </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <h5>
                                    วันที่เริ่มงาน
                                </h5>
                                <div> @dataEmp.StartDate </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <h5>
                                    อายุงาน
                                </h5>
                                <div>

                                    <div>
                                        @{
                                            string startDateString = dataEmp.StartDate;
                                            DateTime startDate;

                                            if (!string.IsNullOrEmpty(startDateString) && DateTime.TryParse(startDateString, out startDate))
                                            {
                                                var now = DateTime.Now;

                                                // คำนวณจำนวนปีและจำนวนเดือน
                                                int years = now.Year - startDate.Year;
                                                int months = now.Month - startDate.Month;
                                                int days = now.Day - startDate.Day;

                                                // ถ้าเดือนติดลบ (หมายถึงยังไม่ถึงเดือนนี้ในปีปัจจุบัน ให้ถอยปีออก 1)
                                                if (months < 0)
                                                {
                                                    years--;
                                                    months += 12;
                                                }
                                                // ถ้าวันติดลบ (หมายถึงยังไม่ถึงวันที่ปัจจุบันในเดือนนี้ ให้ถอยเดือนออก 1)
                                                if (days < 0)
                                                {
                                                    months--;
                                                    // หาจำนวนวันในเดือนก่อนหน้าเพื่อนำมาบวก
                                                    var previousMonth = now.AddMonths(-1);
                                                    int daysInPreviousMonth = DateTime.DaysInMonth(previousMonth.Year, previousMonth.Month);
                                                    days += daysInPreviousMonth;
                                                }

                                                <span>@years ปี, @months เดือน, @days วัน</span>
                                            }
                                            else
                                            {
                                                @dataEmp.StartDate
                                            }
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-4">
                            <div class="form-group">
                                <h5>
                                    สถานะพนักนักงาน

                                </h5>
                                @if (dataEmp.EmpStatus == "1")
                                {
                                    <div class="text-success"><i class="fa fa-check-circle-o" aria-hidden="true"></i><span>Active</span></div>
                                }
                                else
                                {
                                    <div class="text-danger"><i class="fa fa-times-circle-o" aria-hidden="true"></i><span>Inactive</span></div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*flat able*@
        <div class="card flat-card">
            <div class="row-table ">
                <div class="col-sm-3 card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="icon feather icon-eye text-c-green mb-1 d-block"></i>
                        </div>
                        <div class="col-sm-8 text-md-center">
                            <h5>2</h5>
                            <span>ลาป่วย</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="icon feather icon-music text-c-red mb-1 d-block"></i>
                        </div>
                        <div class="col-sm-8 text-md-center">
                            <h5>1</h5>
                            <span>ลากิจ</span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="icon feather icon-file-text text-c-blue mb-1 d-block"></i>
                        </div>
                        <div class="col-sm-8 text-md-center">
                            <h5>2</h5>
                            <span>ลาพักร้อน</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="icon feather icon-mail text-c-yellow mb-1 d-block"></i>
                        </div>
                        <div class="col-sm-8 text-md-center">
                            <h5>5</h5>
                            <span>ลาทั้งหมด</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-5 col-md-4">
        @*Permission*@
        <div class="card-container permission-container">
            <h5>สิทธิ์การเข้าถึง</h5>
            <div class="card card-primary">
                <div class="card-body">
                    เจ้าหน้าที่ Application, ผู้จัดการ
                </div>
            </div>
            <h5>สิทธิ์การลา</h5>
            <div class="card card-primary">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h6>วันลาทั้งหมด</h6>
                        </div>
                        <div class="col-sm-12">
                            ลากิจ : 6 วัน
                        </div>
                        <div class="col-sm-12">
                            ลาป่วย : 30 วัน
                        </div>
                        <div class="col-sm-12">
                            ลาพักร้อน : 12 วัน
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*แจ้งงาน / ปัญหา
            <div class="card-container pr-request-container">
                <h3 class="">แจ้งงาน / ปัญหา</h3>
                <div class="card card-primary card-pr-request">
                     <div class="card-header with-border">
                        <h3 class="card-title">Recently Added Products</h3>
                        <div class="card-tools pull-right">
                            <button type="button" class="btn btn-card-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button type="button" class="btn btn-card-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>

                    <div class="card-body">
                        ไม่มีรายการ
                    </div>

                </div>
            </div>*@

    </div>
</div>
<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


