@model IEnumerable<Eleave.Models.LeaveHisDemo>
@{
    ViewBag.Title = "หน้าแรก";
}
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">ข้อมูลการลา</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ breadcrumb ] end -->
<!-- [ Main Content ] start -->
<div class="row">
    <!-- table card-1 start -->
    <div class="col-md-12 col-xl-4">
        <div class="card flat-card">
            <div class="row-table">
                <div class="col-sm-6 card-body br">
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="icon feather icon-eye text-c-green mb-1 d-block"></i>
                        </div>
                        <div class="col-sm-8 text-md-center">
                            <h5>2</h5>
                            <span>ลาป่วย</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="icon feather icon-music text-c-red mb-1 d-block"></i>
                        </div>
                        <div class="col-sm-8 text-md-center">
                            <h5>1</h5>
                            <span>ลากิจ</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-table">
                <div class="col-sm-6 card-body br">
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="icon feather icon-file-text text-c-blue mb-1 d-block"></i>
                        </div>
                        <div class="col-sm-8 text-md-center">
                            <h5>2</h5>
                            <span>ลาพักร้อน</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="icon feather icon-mail text-c-yellow mb-1 d-block"></i>
                        </div>
                        <div class="col-sm-8 text-md-center">
                            <h5>5</h5>
                            <span>ลาทั้งหมด</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- widget primary card start -->
        <div class="card flat-card widget-primary-card">
            <div class="row-table">
                <div class="col-sm-3 card-body">
                    <i class="feather icon-star-on"></i>
                </div>
                <div class="col-sm-9">
                    <h4>4000 +</h4>
                    <h6>Ratings Received</h6>
                </div>
            </div>
        </div>
        <!-- widget primary card end -->
    </div>
    <!-- table card-1 end -->
    <!-- table card-2 start -->
    <div class="col-md-12 col-xl-4">
        <div class="card flat-card">
            <div class="row-table">
                <div class="col-sm-6 card-body br">
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="icon feather icon-share-2 text-c-blue mb-1 d-block"></i>
                        </div>
                        <div class="col-sm-8 text-md-center">
                            <h5>1000</h5>
                            <span>Shares</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="icon feather icon-wifi text-c-blue mb-1 d-block"></i>
                        </div>
                        <div class="col-sm-8 text-md-center">
                            <h5>600</h5>
                            <span>Network</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-table">
                <div class="col-sm-6 card-body br">
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="icon feather icon-rotate-ccw text-c-blue mb-1 d-block"></i>
                        </div>
                        <div class="col-sm-8 text-md-center">
                            <h5>3550</h5>
                            <span>Returns</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <i class="icon feather icon-shopping-cart text-c-blue mb-1 d-blockz"></i>
                        </div>
                        <div class="col-sm-8 text-md-center">
                            <h5>100%</h5>
                            <span>Order</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- widget-success-card start -->
        <div class="card flat-card widget-purple-card">
            <div class="row-table">
                <div class="col-sm-3 card-body">
                    <i class="fas fa-trophy"></i>
                </div>
                <div class="col-sm-9">
                    <h4>17</h4>
                    <h6>Achievements</h6>
                </div>
            </div>
        </div>
        <!-- widget-success-card end -->
    </div>
    <!-- table card-2 end -->
    <!-- Widget primary-success card start -->
    <div class="col-md-12 col-xl-4">
        <div class="card support-bar overflow-hidden">
            <div class="card-body pb-0">
                <h2 class="m-0">5</h2>
                <span class="text-c-blue">ลาพักร้อนคงเหลือ</span>
                <p class="mb-3 mt-3">Total number of support requests that come in.</p>
            </div>
            <div id="support-chart" style="min-height: 65px;"><div id="apexchartsirdj1eyp" class="apexcharts-canvas apexchartsirdj1eyp light" style="width: 393px; height: 65px;"><svg id="SvgjsSvg2394" width="393" height="65" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG2396" class="apexcharts-inner apexcharts-graphical" transform="translate(0, 0)"><defs id="SvgjsDefs2395"><clipPath id="gridRectMaskirdj1eyp"><rect id="SvgjsRect2400" width="395" height="67" x="-1" y="-1" rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect></clipPath><clipPath id="gridRectMarkerMaskirdj1eyp"><rect id="SvgjsRect2401" width="395" height="67" x="-1" y="-1" rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect></clipPath><linearGradient id="SvgjsLinearGradient2407" x1="0" y1="0" x2="0" y2="1"><stop id="SvgjsStop2408" stop-opacity="0.65" stop-color="rgba(26,188,156,0.65)" offset="0"></stop><stop id="SvgjsStop2409" stop-opacity="0.5" stop-color="rgba(141,222,206,0.5)" offset="1"></stop><stop id="SvgjsStop2410" stop-opacity="0.5" stop-color="rgba(141,222,206,0.5)" offset="1"></stop></linearGradient></defs><line id="SvgjsLine2399" x1="392.49999999999994" y1="0" x2="392.49999999999994" y2="65" stroke="#b6b6b6" stroke-dasharray="3" class="apexcharts-xcrosshairs" x="392.49999999999994" y="0" width="1" height="65" fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line><g id="SvgjsG2413" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG2414" class="apexcharts-xaxis-texts-g" transform="translate(0, -4)"></g></g><g id="SvgjsG2417" class="apexcharts-grid"><line id="SvgjsLine2419" x1="0" y1="65" x2="393" y2="65" stroke="transparent" stroke-dasharray="0"></line><line id="SvgjsLine2418" x1="0" y1="1" x2="0" y2="65" stroke="transparent" stroke-dasharray="0"></line></g><g id="SvgjsG2403" class="apexcharts-area-series apexcharts-plot-series"><g id="SvgjsG2404" class="apexcharts-series" seriesName="seriesx1" data:longestSeries="true" rel="1" data:realIndex="0"><path id="apexcharts-area-0" d="M 0 65L 0 65C 17.193749999999998 65 31.931249999999995 43.333333333333336 49.12499999999999 43.333333333333336C 66.31875 43.333333333333336 81.05624999999999 54.16666666666667 98.24999999999999 54.16666666666667C 115.44375 54.16666666666667 130.18125 16.25 147.375 16.25C 164.56875 16.25 179.30624999999998 32.5 196.49999999999997 32.5C 213.69374999999997 32.5 228.43124999999998 5.416666666666671 245.62499999999997 5.416666666666671C 262.81874999999997 5.416666666666671 277.55625 43.333333333333336 294.75 43.333333333333336C 311.94375 43.333333333333336 326.68125 32.5 343.875 32.5C 361.06874999999997 32.5 375.80625 65 392.99999999999994 65C 392.99999999999994 65 392.99999999999994 65 392.99999999999994 65M 392.99999999999994 65z" fill="url(#SvgjsLinearGradient2407)" fill-opacity="1" stroke-opacity="1" stroke-linecap="butt" stroke-width="0" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMaskirdj1eyp)" pathTo="M 0 65L 0 65C 17.193749999999998 65 31.931249999999995 43.333333333333336 49.12499999999999 43.333333333333336C 66.31875 43.333333333333336 81.05624999999999 54.16666666666667 98.24999999999999 54.16666666666667C 115.44375 54.16666666666667 130.18125 16.25 147.375 16.25C 164.56875 16.25 179.30624999999998 32.5 196.49999999999997 32.5C 213.69374999999997 32.5 228.43124999999998 5.416666666666671 245.62499999999997 5.416666666666671C 262.81874999999997 5.416666666666671 277.55625 43.333333333333336 294.75 43.333333333333336C 311.94375 43.333333333333336 326.68125 32.5 343.875 32.5C 361.06874999999997 32.5 375.80625 65 392.99999999999994 65C 392.99999999999994 65 392.99999999999994 65 392.99999999999994 65M 392.99999999999994 65z" pathFrom="M -1 65L -1 65L 49.12499999999999 65L 98.24999999999999 65L 147.375 65L 196.49999999999997 65L 245.62499999999997 65L 294.75 65L 343.875 65L 392.99999999999994 65"></path><path id="apexcharts-area-0" d="M 0 65C 17.193749999999998 65 31.931249999999995 43.333333333333336 49.12499999999999 43.333333333333336C 66.31875 43.333333333333336 81.05624999999999 54.16666666666667 98.24999999999999 54.16666666666667C 115.44375 54.16666666666667 130.18125 16.25 147.375 16.25C 164.56875 16.25 179.30624999999998 32.5 196.49999999999997 32.5C 213.69374999999997 32.5 228.43124999999998 5.416666666666671 245.62499999999997 5.416666666666671C 262.81874999999997 5.416666666666671 277.55625 43.333333333333336 294.75 43.333333333333336C 311.94375 43.333333333333336 326.68125 32.5 343.875 32.5C 361.06874999999997 32.5 375.80625 65 392.99999999999994 65" fill="none" fill-opacity="1" stroke="#1abc9c" stroke-opacity="1" stroke-linecap="butt" stroke-width="2" stroke-dasharray="0" class="apexcharts-area" index="0" clip-path="url(#gridRectMaskirdj1eyp)" pathTo="M 0 65C 17.193749999999998 65 31.931249999999995 43.333333333333336 49.12499999999999 43.333333333333336C 66.31875 43.333333333333336 81.05624999999999 54.16666666666667 98.24999999999999 54.16666666666667C 115.44375 54.16666666666667 130.18125 16.25 147.375 16.25C 164.56875 16.25 179.30624999999998 32.5 196.49999999999997 32.5C 213.69374999999997 32.5 228.43124999999998 5.416666666666671 245.62499999999997 5.416666666666671C 262.81874999999997 5.416666666666671 277.55625 43.333333333333336 294.75 43.333333333333336C 311.94375 43.333333333333336 326.68125 32.5 343.875 32.5C 361.06874999999997 32.5 375.80625 65 392.99999999999994 65" pathFrom="M -1 65L -1 65L 49.12499999999999 65L 98.24999999999999 65L 147.375 65L 196.49999999999997 65L 245.62499999999997 65L 294.75 65L 343.875 65L 392.99999999999994 65"></path><g id="SvgjsG2405" class="apexcharts-series-markers-wrap"><g class="apexcharts-series-markers"><circle id="SvgjsCircle2425" r="0" cx="392.99999999999994" cy="65" class="apexcharts-marker wjdm6nl0g no-pointer-events" stroke="#ffffff" fill="#1abc9c" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle></g></g><g id="SvgjsG2406" class="apexcharts-datalabels"></g></g></g><line id="SvgjsLine2420" x1="0" y1="0" x2="393" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine2421" x1="0" y1="0" x2="393" y2="0" stroke-dasharray="0" stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG2422" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG2423" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG2424" class="apexcharts-point-annotations"></g></g><rect id="SvgjsRect2398" width="0" height="0" x="0" y="0" rx="0" ry="0" fill="#fefefe" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect><g id="SvgjsG2415" class="apexcharts-yaxis" rel="0" transform="translate(-21, 0)"><g id="SvgjsG2416" class="apexcharts-yaxis-texts-g"></g></g></svg><div class="apexcharts-legend"></div><div class="apexcharts-tooltip light" style="left: 306.75px; top: 30px;"><div class="apexcharts-tooltip-series-group active" style="display: flex;"><span class="apexcharts-tooltip-marker" style="background-color: rgb(26, 188, 156); display: none;"></span><div class="apexcharts-tooltip-text" style="font-family: Helvetica, Arial, sans-serif; font-size: 12px;"><div class="apexcharts-tooltip-y-group"><span class="apexcharts-tooltip-text-label">Ticket : </span><span class="apexcharts-tooltip-text-value">0</span></div><div class="apexcharts-tooltip-z-group"><span class="apexcharts-tooltip-text-z-label"></span><span class="apexcharts-tooltip-text-z-value"></span></div></div></div></div></div></div>
            <div class="card-footer bg-primary text-white">
                <div class="row text-center">
                    <div class="col">
                        <h4 class="m-0 text-white">10</h4>
                        <span>Open</span>
                    </div>
                    <div class="col">
                        <h4 class="m-0 text-white">5</h4>
                        <span>Running</span>
                    </div>
                    <div class="col">
                        <h4 class="m-0 text-white">3</h4>
                        <span>Solved</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Widget primary-success card end -->
    <!-- prject ,team member start -->
    <div class="col-xl-12 col-md-12">
        <div class="card table-card">
            <div class="card-header">
                <h5>รายการลาทั้งหมด</h5>
                <div class="card-header-right">
                    <div class="btn-group card-option">
                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="feather icon-more-horizontal"></i>
                        </button>
                        <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                            <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                            <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                            <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                            <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped m-0" id="leave-his-table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th class="text-center">รหัสคำขอ</th>
                                <th class="text-center">วันที่ขอ</th>
                                <th class="text-center">ประเภทการขอ</th>
                                <th class="text-center">ผู้ร้องขอ</th>
                                <th class="text-center">ประเภทการลา</th>
                                <th class="text-center">วันที่ลา(เริ่ม)</th>
                                <th class="text-center">วันที่ลา(สิ้นสุด)</th>
                                <th class="text-center">รวมขอลา</th>
                                <th class="text-center">สถานะคำขอ</th>
                                <th class="text-center">ผู้อนุมัติ</th>
                                <th class="text-center">วันที่อนุมัติ</th>
                                <th class="text-center">ผู้รับอนุมัติ</th>
                                <th class="text-center">วันที่ HR รับอนุมัติ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 0;
                            }
                            @foreach (var leave in Model)
                            {
                                i++;
                                <tr>
                                    <td>@i</td>
                                    <td>@leave.LeavId</td>
                                    <td>@leave.ReqDate.ToString("dd/MM/yyyy")</td>
                                    <td class="text-center">@leave.ReqType</td>
                                    <td class="text-center">@leave.ReqBy</td>
                                    <td class="text-center">@leave.LeaveType</td>
                                    <td>@leave.StartDate.ToString("dd/MM/yyyy")</td>
                                    <td>@leave.EndDate.ToString("dd/MM/yyyy")</td>
                                    <td class="text-center">@leave.TotalReq</td>
                                    @if (leave.ReqStatus == "S1")
                                    {
                                        <td class="text-center">
                                            <div class="text-success"><i class="fa fa-check" aria-hidden="true"></i><span>อนุมัติ</span></div>
                                        </td>

                                    }
                                    else if (leave.ReqStatus == "S2")
                                    {
                                        <td class="text-center">
                                            <div class="text-danger"><i class="fa fa-times" aria-hidden="true"></i><span>ไม่อนุมัติ</span></div>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="text-center">
                                            <div class="text-warning"><i class="fa fa-repeat" aria-hidden="true"></i><span>รอดำเนินงาน</span></div>
                                        </td>
                                    }
                                    <td class="text-center">@leave.ApprvBy</td>
                                    <td>@leave.ApprDate.ToString("dd/MM/yyyy")</td>
                                    <td class="text-center">@leave.HrBy</td>
                                    <td>@leave.HrDate.ToString("dd/MM/yyyy")</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#leave-his-table').dataTable({
            paging: true,
            pageLength: 50,
            lengthChange: false,
            searching: false,
            ordering: false,
            select: false,
            language: {
                info: "แสดง _START_ ถึง _END_ จากทั้งหมด _TOTAL_ การร้องขอ"
            }
        });
    })

</script>